.title{
    width: 100%;
}
.card-start{
    background: rgb(41, 40, 44);
    padding: 1.5em;
    border-radius: 2%;
    transition:0.5s;
}
.card-start img{
    clip-path: circle();
    margin-top: -1.5em;
    width: 240px;
    height: 320px;
}
.card-track{
    background: rgb(41, 40, 44);
    padding: 1.5em;
    border-radius: 2%;
    transition:0.5s;
    height: 449px;
}

.click{
    text-decoration: none!important;
}

.card-start:hover{
    background: rgb(57, 55, 61) ;
}
.card-track:hover{
    background: rgb(57, 55, 61) ;
}
#by{
    margin-top: -.55em;
    margin-bottom: -.55em;
}