.greeting span{
    display: inline-block;
}
.scroll-down-indicator{
    display: inline-block;
}
.title{
    text-align: end;
}

.card-start{
    background: rgb(41, 40, 44);
    padding: 1.5em;
    border-radius: 2%;
    transition:0.5s;
    max-width: 360px;
    min-width: 300px;

}
.card-start img{
    clip-path: circle();
    margin-top: -1.5em;
    width: 240px;
    height: 320px;
}
.card-track{
    background: rgb(41, 40, 44);
    padding: 1.5em;
    border-radius: 2%;
    transition:0.5s;
    height: 460px;
    min-width: 315px;
    max-width: 350px
}
.card-track img{
    padding: 1em;
    min-width: 200px;
    max-width: 300px;

}

.click{
    text-decoration: none!important;
}

.card-start:hover{
    background: rgb(57, 55, 61) ;
}
.card-track:hover{
    background: rgb(57, 55, 61) ;
}
#by{
    margin-top: -.55em;
    margin-bottom: -.55em;
}

.scroll-down-indicator{
    animation: wordAnim 0.9s infinite alternate;
    animation-delay: 2s;
    animation-iteration-count: 10;
  }
  @keyframes wordAnim{
    from{
      transform: translateY(0px);
      z-index: 5;
    }
    to{
      transform: translateY(20px);
    }
  
  }